[Unit]
Description=Pin hwmon paths for stable access
Wants=systemd-udev-settle.service
After=systemd-udev-settle.service

[Service]
Type=oneshot
ExecStart=/usr/bin/pin-hwmon

[Install]
WantedBy=multi-user.target
